{% extends 'Master.html' %}
{% load static %}


{% block head %}
<link href="{% static 'css/users/user-profile.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/dropify/dropify.min.css' %}">
<link href="{% static 'css/users/account-setting.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}


{% block content %}

<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-spacing">

            <!-- Content -->
            <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

                <div class="user-profile layout-spacing">
                    <div class="widget-content widget-content-area">
                        <div class="d-flex justify-content-between">
                            <h3 class="">پروفایل</h3>
                            <a href="javascript:void(0)" data-target="#ProfileModal" data-toggle="modal"
                                class="mt-2 edit-profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-edit-3">
                                    <path d="M12 20h9"></path>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                </svg></a>
                        </div>
                        <div class="text-center user-info">

                            {% if Person.Picture != '0' %}
                            <img src="{{ MEDIA_URL }}{{Person.Picture}}" alt="avatar">
                            {% else %}
                            <img src="{{ MEDIA_URL }}img/user.png" alt="avatar">
                            {% endif %}

                            <p class="">{{Person.get_full_name}}</p>
                        </div>
                        <div class="user-info-list">

                            <div class="">
                                <ul class="contacts-block list-unstyled">
                                    <li class="contacts-block__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-coffee">
                                            <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
                                            <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
                                            <line x1="6" y1="1" x2="6" y2="4"></line>
                                            <line x1="10" y1="1" x2="10" y2="4"></line>
                                            <line x1="14" y1="1" x2="14" y2="4"></line>
                                        </svg> {{Person.JobTitle}}
                                    </li>
                                    <li class="contacts-block__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-calendar">
                                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                            <line x1="16" y1="2" x2="16" y2="6"></line>
                                            <line x1="8" y1="2" x2="8" y2="6"></line>
                                            <line x1="3" y1="10" x2="21" y2="10"></line>
                                        </svg>{{Person.BirthDate}}
                                    </li>

                                    <li class="contacts-block__item">
                                        <a href="mailto:{{Person.email}}"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-mail">
                                                <path
                                                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                                </path>
                                                <polyline points="22,6 12,13 2,6"></polyline>
                                            </svg>{{Person.email}}</a>
                                    </li>
                                    <li class="contacts-block__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-phone">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg> {{Person.Phone}}
                                    </li>
                                    <!-- <li class="contacts-block__item">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div class="social-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-facebook">
                                                        <path
                                                            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="social-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-twitter">
                                                        <path
                                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="social-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-linkedin">
                                                        <path
                                                            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                                        </path>
                                                        <rect x="2" y="9" width="4" height="12"></rect>
                                                        <circle cx="4" cy="4" r="2"></circle>
                                                    </svg>
                                                </div>
                                            </li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="education layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <div class="d-flex justify-content-between">

                            <h3 class="">تحصیلات</h3>
                            <a href="javascript:void(0)" data-target="#" data-toggle="modal" class="mt-2 edit-profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-edit-3">
                                    <path d="M12 20h9"></path>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                </svg></a>
                        </div>
                        <div class="">

                            {% if EDU %}
                            <div class="timeline-alter">

                                {% for item in EDU %}

                                <div class="item-timeline">
                                    <div class="t-meta-date">
                                        <p class="">{{item.StartDate}} {{item.EndDate}} </p>
                                    </div>
                                    <div class="t-dot">
                                    </div>
                                    <div class="t-text">
                                        <p>{{item.Institude}}</p>
                                        <p>{{item.Title}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% else %}
                            موردی موجود نیست
                            {% endif %}
                        </div>

                    </div>
                </div>

                <div class="work-experience layout-spacing ">

                    <div class="widget-content widget-content-area">
                        <div class="d-flex justify-content-between">
                            <h3 class="">تجربه کار </h3>
                            <a href="javascript:void(0)" data-target="#" data-toggle="modal" class="mt-2 edit-profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-edit-3">
                                    <path d="M12 20h9"></path>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                </svg></a>
                        </div>
                        <div class="">

                            {% if EXP %}
                            <div class="timeline-alter">

                                {% for item in EXP %}

                                <div class="item-timeline">
                                    <div class="t-meta-date">
                                        <p class="">{{item.StartDate}} {{item.EndDate}} </p>
                                    </div>
                                    <div class="t-dot">
                                    </div>
                                    <div class="t-text">
                                        <p>{{item.Company}}</p>
                                        <p>{{item.Position}}</p>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>

                            {% else %}
                            موردی موجود نیست
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

                <div class="skills layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <h3 class="">خلاصه عملکرد</h3>
                        <div class="progress br-30">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-title"><span>PHP</span> <span>25%</span> </div>
                            </div>
                        </div>
                        <div class="progress br-30">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-title"><span>Wordpress</span> <span>50%</span> </div>
                            </div>
                        </div>
                        <div class="progress br-30">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-title"><span>Javascript</span> <span>70%</span> </div>
                            </div>
                        </div>
                        <div class="progress br-30">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 60%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-title"><span>jQuery</span> <span>60%</span> </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div class="bio layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <h3 class="">بیوگرافی</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>

                        <p>و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                            باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
                            طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                            فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در
                            ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای
                            اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                        <div class="bio-skill-box">

                            <div class="row">

                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>برنامه های کاربردی Sass</h5>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>حسابدار Github</h5>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-5 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>عکاس</h5>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-0 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>اپلیکیشن موبایل</h5>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است.</p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div> -->

            </div>

        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class=""> © کپی رایت</p>
        </div>
        <div class="footer-section f-section-2">
            <span class="copyright"> بومی سازی شده توسط : <a href="https://imanpa.ir/store/"> ایمان پاکروح </a> </span>
        </div>
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ویرایش پروفایل</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-lg-11 mx-auto">
                        <div class="row">
                            <div class="col-xl-4 col-lg-12 col-md-4">
                                <div class="upload mt-4 pr-md-4">

                                    {% if Person.Picture != '0' %}
                                    <input type="file" id="input-file-max-fs" class="dropify"
                                        data-default-file="{{ MEDIA_URL }}{{Person.Picture}}" data-max-file-size="2M" />
                                    {% else %}
                                    <input type="file" id="input-file-max-fs" class="dropify"
                                        data-default-file="{{ MEDIA_URL }}img/user.png" data-max-file-size="2M" />

                                    {% endif %}

                                    <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> آپلود عکس</p>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-12 col-md-8 mt-md-0 mt-4">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="FirstName">نام:</label>
                                                <input type="text" class="form-control mb-4" id="FirstName"
                                                    placeholder="نام:" value="{{Person.first_name}}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="LastName">نام خانوادگی:</label>
                                                <input type="text" class="form-control mb-4" id="LastName"
                                                    placeholder="نام خانوادگی:" value="{{Person.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="dob-input">تاریخ تولد</label>
                                    <div class="d-sm-flex d-block">
                                        <div class="form-group mr-1">
                                            <select class="form-control" id="day">
                                                <option disabled selected>روز</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                            </select>
                                        </div>
                                        <div class="form-group mr-1">
                                            <select class="form-control" id="month">
                                                <option disabled selected>ماه</option>
                                                <option value="01">فروردین</option>
                                                <option value="02">اردیبهشت</option>
                                                <option value="03">خرداد</option>
                                                <option value="04">تیر</option>
                                                <option value="05">مرداد</option>
                                                <option value="06">شهریور</option>
                                                <option value="07">مهر</option>
                                                <option value="08">آبان</option>
                                                <option value="09">آذر</option>
                                                <option value="10">دی</option>
                                                <option value="11">بهمن</option>
                                                <option value="12">اسفند</option>
                                            </select>
                                        </div>
                                        <div class="form-group mr-1">
                                            <select class="form-control" id="year">
                                                <option disabled selected>سال</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label for="JobTitle">موقعیت شغلی:</label>
                                        <input type="text" class="form-control mb-4" id="JobTitle"
                                            value="{{Person.JobTitle}}">
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label for="Phone">شماره همراه:</label>
                                        <input type="text" class="form-control mb-4" id="Phone"
                                            value="{{Person.Phone}}">
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label for="Email">ایمیل:</label>
                                        <input type="text" class="form-control mb-4" id="Email"
                                            value="{{Person.email}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary">ویرایش</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->
{% endblock content %}



{% block js %}
<script src="{% static 'plugins/dropify/dropify.min.js' %}"></script>
<script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
<script src="{% static 'js/users/account-settings.js' %}"></script>
<script>
    $(document).ready(function () {

        let today = new Date().toLocaleDateString('fa-IR-u-nu-latn');
        let Y = today.split('/')
        Y = parseInt(Y[0])
        for (let i = 1330; i <= Y; i++) {
            $('#year').append(`
            <option value= ${i}>${i}</option>
            `);
        }

    });
    $(document).ready(function () {
        let Dt = `{{Person.BirthDate}}`
        Dt = Dt.split('-')
        let D = Dt[2]
        let M = Dt[1]
        let Y = Dt[0]
        console.log(Y, M, D)
        $('#day').val(D);
        $('#month').val(M);
        $('#year').val(Y);
    });
</script>
{% endblock js %}